html, 
body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #EAE6CA;
}
h1 {
	margin: 0;
	padding: 20px 0 20px 0;
	color: #FFFFFF;
}
header {
	display: block;
	text-align:center;
	background: url(img/color.jpg) no-repeat;
}
a {
	text-decoration: none;
	color: black;
	
}
 a:hover {
    text-decoration: underline;
    color: red;
   }
.container {
	margin: auto;
	padding-top: 0;
	padding-bottom: 0;
	max-width: 1024px;
	border: 1px solid lightgray;
	font-family: 'Quicksand', sans-serif;
	background-color: #F5F5DC;
}
.my_photo {
	border-radius: 50%;
	border: 1px solid lightgrey;
	text-align: center;
	width: 20%;
	height: 20%;
}
.contact-info {
	display: flex;
	justify-content: space-evenly;
}
article {
	border-bottom: 1px solid lightgrey;
}
.section {
	display: flex;
	align-content: space-evenly;
}
.section:first-child{
	padding-left: 20px;
}
.about {
	padding-left: 60px;
	padding-right:20px;
}